<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <form method="POST">
            <h2>Se connecter</h2>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="E-mail" required>

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" placeholder="Mot de passe" required>

            <div class="options">
                <label>
                    <input type="checkbox" name="remember">
                    Conserver la session
                </label>
                <a href="#">Tu as oublié ton mot de passe ?</a>
            </div>

            <button type="submit">SE CONNECTER</button>
            <p>Tu n’as pas de compte ? <a href="#">Inscris-toi</a></p>
        </form>
    </div>
</body>
</html>
